.login{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #4C587D;
}
.login .main {
    left: 35%;
    position: relative;
    top: 60px;
    height: 465px;
    width: 352px;
    border-radius: 49px;
    background-color: #e0e2e530;
}
@media (max-width: 884px){
    .login .main{
        left: 29%;
    }
}
@media (max-width: 430px){
    .login .main{
        left: 9%;
    }
}
.login .main .color{
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
}
.login .main .color div{
    position: relative;
    top: 13%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.login .main .color div:nth-of-type(1){
    left: 104px;
    background-color: #788AB2;
}
.login .main .color div:nth-of-type(2){
    left: 100px;
    background-color: #B3C1CD;
}
.login .main .color div:nth-of-type(3){
    left: 96px;
    background-color: #93A0C6;
}
.login .main .task{
    position: relative;
    bottom: 25px;
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.login .main .task p{
    font-size: 40px;
    font-weight: bold;
    line-height: 1px;
    color: white;
}
.login .main .form{
    position: relative;
    width: 100%;
}
.login .main .form input{
    width: 200px;
    height: 45px;
    border-radius: 18px;
    margin-bottom: 10px;
    position: relative;
    left: 75px;
    border: 1px solid white;
    outline: none;
}
.login .main .form input[type="text"],
.login .main .form input[type="email"],
.login .main .form input[type="password"]{
    background-color: #eeeeee5e;
}
.login .main .form input[type="text"]::placeholder,
.login .main .form input[type="email"]::placeholder,
.login .main .form input[type="password"]::placeholder{
    color: rgba(255, 255, 255, 0.505);
    position: relative;
    left: 20%;
}
.login .main .form .sign{
    width: 200px;
    height: 45px;
    display: block;
    position: relative;
    left: 75px;
    background-color: red;
}
.login .main .form .sign  input[type="submit"]{
    background-color: #DFB6B2;
    color: white;
    left: 0px;
    
}
.login .main .signup{
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.login .main .signup p{
    color: white;
}
.login .main .signup .link{
    text-decoration: none;
}
