.task{
    height: 90%;
    border-radius: 6px;
}
.task .main{
    width: 50%;
    position: relative;
    left: 25%;
    height: 65%;
    top: 90px;
    background-color: white;
    border-radius: 20px;
}
.task .main .header{
    position: relative;
    top: 10%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.task .main .header input[type='text']{
    height: 60%;
    top: 16%;
    position: relative;
    outline: none;
    border: 1px solid #d1cdcd;
    left: 4%;
}
@media (max-width: 430px) {
    .task .main .header input[type='text']{
        width: 60%;
    }
    .task .main .header input[type='text']::placeholder{
        font-size: 7px;
    }
}
.task .main .header input[type='submit']{
    height: 70%;
    width: 20%;
    position: relative;
    top: 15%;
    outline: none;
    border: 1px solid #eee;
    color: white;
    right: 4%;
}
.task .main ul{
    position: relative;
    top: 10px;
    width: 100%;
    left: -40px;
}
.task .main ul li{
    list-style: none;
    font-size: 17px;
    padding: 17px 19px 12px 43px;
    user-select: none;
    cursor: pointer;
    position: relative;
    bottom: 11px;
    display: flex;
    justify-content: space-between;
}
